<!DOCTYPE html>
<html lang="ko" data-bs-theme="auto">
    <head>
        <meta charset="UTF-8">
        <title></title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body>
        <main>
            <article>
                <header>
                    <h2>회원가입이 완료되었습니다!!</h2>
                </header>
                <p>Team Project System을 시작해보세요. <a href="/signIn">로그인 하기</a></p>
            </article>
        </main>
    </body>
</html>