<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
      data-bs-theme="auto">
<script th:src="@{js/api.js}" ></script>
<script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>


<div class="project_cont" layout:fragment="content">
  <input type="hidden" id="currentProjectId" name="projectId" th:value="${project.projectId}"/>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" th:text="${project.title}"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" th:text="${project.introduction}"></div>
      </div>
    </div>
  </div>

  <div class="first_column">
    <div class="content_box project_info">
      <div>
        <h4 class="project_title" th:text="${project.title}"></h4>


        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-backdrop="static">
            자세히보기
          </button>

          <form id="modifyForm" th:action="@{/project/modify}" method="get" style="flex: 1;">
            <input type="hidden" id="modifyProjectId" name="projectId" th:value="${project.projectId}" />
            <input type="hidden" id="modifyTitle" name="title" th:value="${project.title}">
            <input type="hidden" id="modifyIntroduction" name="introduction" th:value="${project.introduction}">
            <input type="hidden" id="modifyLeaderYn" name="leaderYn" th:value="${project.leaderYn}" />
            <button class="btn btn-primary" type="submit">수정</button>
          </form>
          <form id="deleteForm" th:action="@{/project/delete}" method="post" class="ms-2">
            <input type="hidden" id="deleteProjectId" name="projectId" th:value="${project.projectId}" />
            <button class="btn btn-danger" type="submit">삭제</button>
          </form>
        </div>






        <p>프로젝트 소개: <span th:text="${project.introduction}"></span></p>


      </div>
    </div>



    <div class="content_box project_members" id="project_members">
      <div class="member_info">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <p class="member_name">권우영</p>
      </div>
      <div class="member_info">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <p class="member_name">김성렬</p>
      </div>
      <div class="member_info">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <p class="member_name">김재범</p>
      </div>
      <div class="member_info">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <p class="member_name">엄재혁</p>
      </div>
    </div>
  </div>

  <div class="second_column">
    <div class="code_compare">
      <div class="content_box before_code">
        <p>import java.*;</p>
        <p>public static void main() {</p>
        <p class="different_code">&nbsp</p>
        <p>}</p>
      </div>
      <div class="content_box current_code">
        <p>import java.*;</p>
        <p>public static void main() {</p>
        <p class="different_code">123</p>
        <p>}</p>
      </div>

      <form id="InsertCodeForm" action="/codeInsertPage" method="post">
        <input type="hidden" id="projectIdForCode" name="projectId" />
      </form>
      <button class="btn btn-outline-secondary btn_regist ms-2" type="button" th:onclick="|javascript:goToInsertCode()|">코드 등록</button>
    </div>

    <div class="content_box project_comment">
      <div class="comment_box">
        <h5>김성렬</h5>
        <p>코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.</p>
      </div>
      <div class="comment_box">
        <h5>김성렬</h5>
        <p>코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.</p>
      </div>
      <div class="comment_box">
        <h5>김성렬</h5>
        <p>코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.</p>
      </div>
      <div class="comment_box">
        <h5>김성렬</h5>
        <p>코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.</p>
      </div>
      <div class="comment_box">
        <h5>김성렬</h5>
        <p>코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.</p>
      </div>
      <div class="comment_box">
        <h5>김성렬</h5>
        <p>코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.코멘트 테스트입니다.</p>
      </div>
    </div>

    <button class="btn btn-outline-secondary btn_regist ms-2" type="button">등록</button>
  </div>
  <script>
    $(function() {
      projectInfoInit();
    });
  </script>
</div>

</html>