<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      data-bs-theme="auto">
<head>
    <title>나의 블로그</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link href="/css/home.css" rel="stylesheet">
</head>

<body>
<header>
    <h1>Team Project System</h1>
    </nav>
</header>

<main>
    <article>
        <header>
            <h2>첫 번째 프로젝트</h2>

        </header>
        <p>첫 번째 프로젝트 내용입니다. <a href="#">자세히 보기</a></p>
    </article>

    <article>
        <header>
            <h2>두 번째 프로젝트</h2>

        </header>
        <p>두 번째 프로젝트 내용입니다. <a href="#">자세히 보기</a></p>
    </article>
</main>

<footer>
    <p>&copy; 2023 Team Project</p>
    <nav>
        <ul>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보 처리방침</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>