<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ddbb.domain.mapper.MemberMapper">

    <sql id="postColumns">
        member_id
        , id
        , password
        , name
        , email
    </sql>

    <insert id="signup" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (
        <include refid="postColumns" />
        ) VALUES (
        #{memberId}
        , #{id}
        , #{password}
        , #{name}
        , #{email}
        )
    </insert>

<!--    로그인 id 검증-->
    <select id="permitid" parameterType="string" resultType="boolean">
--         SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END
        SELECT IF(COUNT(*) = 1, 1, 0)
        <include refid="postColumns" />
        FROM member
        WHERE id = #{id};
    </select>

<!--    로그인 password 검증-->
    <select id="permitpw" parameterType="string" resultType="boolean">
        --         SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END
        SELECT IF(COUNT(*) = 1, 1, 0)
        <include refid="postColumns" />
        FROM member
        WHERE password = #{password};
    </select>

    <select id="permitemail" parameterType="string" resultType="boolean">
        --         SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END
        SELECT IF(COUNT(*) = 1, 1, 0)
        <include refid="postColumns" />
        FROM member
        WHERE email = #{email};
    </select>

    <select id="permitname" parameterType="string" resultType="boolean">
        --         SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END
        SELECT IF(COUNT(*) = 1, 1, 0)
        <include refid="postColumns" />
        FROM member
        WHERE name = #{name};
    </select>

    <select id="findid" parameterType="string" resultType="String">
        --         SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END
        SELECT id
        <include refid="postColumns" />
        FROM member
        WHERE name = #{name}
        AND email = #{email};
    </select>

    <select id="selectById" parameterType="String" resultType="com.project.ddbb.domain.vo.MemberVO">
        SELECT *
        FROM member
        WHERE id = #{id};
    </select>
</mapper>
