<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.ddbb.domain.mapper.MemberMapper">

    <sql id="postColumns">
        id
        , password
        , name
        , email
    </sql>

    <insert id="signUp" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (
        <include refid="postColumns" />
        ) VALUES (
        #{id}
        , #{password}
        , #{name}
        , #{email}
        )
    </insert>

<!--    로그인 id 검증-->
    <select id="permitId" parameterType="string" resultType="boolean">
--         SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END
        SELECT IF(COUNT(*) = 1, 1, 0)
        <include refid="postColumns" />
        FROM member
        WHERE id = #{id};
    </select>

<!--    로그인 password 검증-->
    <select id="permitPw" parameterType="string" resultType="boolean">
        --         SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END
        SELECT IF(COUNT(*) = 1, 1, 0)
        <include refid="postColumns" />
        FROM member
        WHERE password = #{password};
    </select>

    <select id="permitemail" parameterType="string" resultType="boolean">
        --         SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END
        SELECT IF(COUNT(*) = 1, 1, 0)
        <include refid="postColumns" />
        FROM member
        WHERE email = #{email};
    </select>

    <select id="permitname" parameterType="string" resultType="boolean">
        --         SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END
        SELECT IF(COUNT(*) = 1, 1, 0)
        <include refid="postColumns" />
        FROM member
        WHERE name = #{name};
    </select>

    <select id="findId" parameterType="string" resultType="String">
        --         SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END
        SELECT id
        FROM member
        WHERE name = #{name}
        AND email = #{email};
    </select>

    <select id="selectById" parameterType="String" resultType="com.project.ddbb.domain.vo.MemberVO">
        SELECT member_id,
        <include refid="postColumns" />
        FROM member
        WHERE id = #{id};
    </select>

    <update id="updatePassword" parameterType="String">
        UPDATE member
        SET password = #{password}
        WHERE id = #{id}
    </update>
</mapper>
