<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ddbb.domain.mapper.ProjectMemberMapper">

    <!-- project_member 테이블 전체 컬럼 -->
    <sql id="projectMemberColumns">
        project_id
        , member_id
        , leader_yn
    </sql>

    <!-- 프로젝트 참여자 조회 -->
    <select id="findByProjectId" parameterType="long" resultType="map">
        SELECT name, leader_yn
        FROM member m, project_member pm
        WHERE m.member_id = pm.member_id
        AND pm.project_id = #{project_id};
    </select>

    <!-- 프로젝트 참여자 등록 -->
    <insert id="save" parameterType="com.project.ddbb.domain.vo.ProjectMemberVO">
        INSERT INTO project_member (
        <include refid="projectMemberColumns" />
        ) VALUES (
        #{projectId}
        , #{memberId}
        , #{leaderYn}
        )
    </insert>

    <!-- 프로젝트 참여자 삭제 -->
    <delete id="delete" parameterType="com.project.ddbb.domain.vo.ProjectMemberVO">
        DELETE FROM project_member
        WHERE
            project_id = #{projectId}
        AND member_id = #{memberId}
    </delete>


    <!-- 프로젝트 리더자 조회 -->
    <select id="findLeader_in" parameterType="int" resultType="com.project.ddbb.domain.vo.ProjectMemberVO">
        SELECT
        <include refid="projectMemberColumns" />
        FROM
        project_member
        WHERE
        leaderYn = #{leaderYn}
    </select>

</mapper>