<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:if="${isLnb != false}" th:fragment="lnbFragment" class="lnb">
        <ul id="projects">
            <form th:each="project : ${projects}" th:id="|projectForm-${project.projectId}|" action="/project/info" method="post">
                <input type="hidden" id="projectId" name="projectId" th:value="${project.projectId}"/>
                <li>
                    <p th:text="${project.title}"></p>
                    <p th:if="${#strings.length(project.introduction) > 10}" th:text="|${#strings.substring(project.introduction, 0, 10)}...|"></p>
                    <p th:if="${#strings.length(project.introduction) <= 10}" th:text="${project.introduction}"></p>
                </li>
            </form>
        </ul>
    </div>
</body>
</html>